{{define "main"}}
<div class="flex justify-between items-center">
    <h1 class="text-3xl font-bold">All Orders</h1>
</div>

<div class="overflow-x-auto mt-8">
    <table class="table w-full">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Total</th>
                <th>Status</th>
                <th>Tracking #</th>
                <th></th>
            </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {{range .Orders}} {{/* Pass the individual order as the context to
            the partial */}} {{template "admin_order_row.partial.html" (dict
            "Order" .)}} {{end}}
        </tbody>
    </table>
</div>
{{end}}
