{{define "main"}}
<div class="text-center">
    <svg
        class="mx-auto h-12 w-12 text-red-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
        />
    </svg>
    <h1
        class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
    >
        Order Canceled
    </h1>
    <p class="mt-6 text-base leading-7 text-gray-600">
        Your order was canceled. Your cart has been saved if you'd like to try
        again.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
            href="/cart"
            class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
            >Return to Cart</a
        >
    </div>
</div>
{{end}}
