{{define "product_card.partial.html"}} {{/* Get the first image URL, or a
fallback. */}} {{$featuredImage :=
"https://placehold.co/600x400/ccc/FFFFFF/png?text=No+Image"}} {{if .ImageURLs}}
{{if gt (len .ImageURLs) 0}} {{$featuredImage = index .ImageURLs 0}} {{end}}
{{end}}

<div class="group relative card card-compact bg-base-100 shadow-xl">
    <a href="/product/{{.ID}}">
        <figure>
            <img
                src="{{$featuredImage}}"
                alt="{{.Name}}"
                class="h-60 w-full object-cover"
            />
        </figure>
    </a>
    <div class="card-body">
        <h2 class="card-title">{{.Name}}</h2>
        <p class="text-sm text-gray-500">{{.CategoryName}}</p>
        <div class="card-actions justify-between items-center">
            <span class="text-lg font-semibold">{{formatPrice .Price}}</span>
            <div class="mt-2">
                {{if gt .TotalStock 10}}
                <span class="badge badge-success badge-outline">In Stock</span>
                {{else if and (gt .TotalStock 0) (le .TotalStock 10)}}
                <span class="badge badge-warning badge-outline">Few Left</span>
                {{else}}
                <span class="badge badge-error badge-outline"
                    >Out of Stock</span
                >
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}
